<h1>New Tool</h1>

<%= form_for @tool do |f| %>
<div class="field">
  <%= f.label :name %>
  <%= f.autocomplete_field :name, autocomplete_tool_name_tools_path, autofocus: true %>
</div>
<div class="field">
  <%= f.label :review %>
  <%= f.fields_for :review do |review_form| %>
  <%= review_form.text_field :review, autocomplete: "off" %>
  <% end %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>

<%= link_to 'Back', users_path %>
