<div class="container tools-show-container">
  <div class="row">
    <div class="col-md-12">
      <h2><%= @tool.name %> のレビューの一覧</h2>
      <div class="tools-show-operate-section">
        <%= link_to 'このアプリのレビューを投稿する', new_tool_review_path(@tool), class: 'btn btn-info btn-lg active' %>
        <%= link_to 'サイトに登録されたアプリの一覧', tools_path, class: 'btn btn-info btn-lg active' %>
      </div>
    </div>
  </div>
  <div class="row">
    <% @reviews.each do |review| %>
      <div class="col-md-6">
       <div class="tools-show-card">
         <div class="tools-show-card-title">
         <a href="/users/<%= review.user_id %>"><h3><%= review.user.profile.nickname %>さん</h3></a>
         </div>
          <div class="tools-show-card-content">
            <p class="tools-show-review short-review"><%= review.review %></p>
            <div class="clearfix">
              <%= link_to '詳細', review_path(review), class: 'btn btn-warning active tools-show-card-reviews-show-link' %>
              <!-- likeボタン -->
              <div class="tools-show-review-like-button" id="tool-reviews-like-button<%= review.id %>">
                <%= render partial: "likes/like", locals: { like: review.likes.find_by(user_id: current_user.id), review: review } %>
              </div>
              <p class="tools-show-card-comment-number"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span><b>Comment:<%= review.comments.count %></b></p>
              <div class="tools-show-rating-star-container">
                <p class="rating-star"><span class="rating-star-inner"><%= review.rate %></span></p>
              </div>
              <% if review.user.id == current_user.id %>
                <%= link_to '編集・削除', edit_review_path(review), class: 'btn btn-primary active reviews-show-reviews-edit-link' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
