<div class="container tools-show-container">
  <div class="row">
    <div class="col-md-12">
      <h2><%= @tool.name %> のレビューの一覧</h2>
      <%= link_to 'このアプリのレビューを投稿する', new_tool_review_path(@tool), class: 'btn btn-info btn-lg active' %>
      <%= link_to 'サイトに登録されたアプリの一覧', tools_path, class: 'btn btn-info btn-lg active' %>
    </div>
  </div>
  <div class="row">
    <% @reviews.each do |review| %>
      <div class="col-md-4">
       <div class="panel panel-default">
         <div class="panel-heading">
           <a href="/users/<%= review.user_id %>"><%= review.user.profile.nickname %>さん</a>
         </div>
          <div class="panel-body">
            <p class="short-review"><%= review.review %></p>
            <p><%= link_to '詳細を見る', review_path(review) %></p>
            <!-- likeボタン -->
            <div id="tool-reviews-like-button<%= review.id %>">
              <%= render partial: "likes/like", locals: { like: review.likes.find_by(user_id: current_user.id), review: review } %>
            </div>
            <p>コメント:<%= review.comments.count %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
