<div class="container">
  <div class="col-md-12">
    <div class="display-container">
      <div class="form-box">
        <div><h1>プロフィール編集ページ</h1></div>
        <%= form_for(@profile) do |f| %>
        <%= f.label :avatar %><br>
        <% if @profile.avatar.present? %>
        <div class="avatar">
            <%= image_tag @profile.avatar %>
        </div>
        <% else %>
        <div class="avatar">
            <%= image_tag('no_image.png') %>
        </div>
        <% end %>
        <%= f.file_field :avatar %>
        <%= f.label :nickname %><br>
        <span>※サイト上で表示される名前です</span>
        <%= f.text_field :nickname, autofocus: true, placeholder: "日本語や漢字も使用できます" %>
        <%= f.label :age %>
        <%= f.text_field :age %>
        <%= f.label :job %>
        <%= f.text_field :job %>
        <%= f.label :introduce %>
        <%= f.text_area :introduce, rows: "8", cols: "50", placeholder: "自己紹介やよく使うアプリを書いてください" %>
        <%= f.submit '送信する', class: 'btn btn-info btn-lg btn-block active', data: {confirm: "変更内容を送信してもよろしいですか？"} %>
        <% end %>
        <%= link_to '戻る', profile_path(@profile), class: 'btn btn-info btn-lg btn-block active' %>
        <%= link_to 'ニックネームやメールアドレスの変更はこちら', edit_user_registration_path, class: 'btn btn-success btn-lg btn-block active' %>
    </div>
</div>
</div>
</div>
