<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="display-container">
        <div class="form-box">
          <h1>プロフィール編集ページ</h1>
          <%= form_for(@profile, :html => {:multipart => true}) do |f| %>
            <!-- avatar -->
            <%= f.label 'avatar (now)' %><br>
            <!-- avatarが存在するかで条件分岐 start -->
            <% if @profile.avatar.present? %>
              <div class="avatar">
                <%= image_tag @profile.avatar %>
              </div>
            <% else %>
              <div class="avatar">
                <%= image_tag('no_image.png') %>
              </div>
            <% end %>
            <!-- avatarが存在するかで条件分岐 end -->
            <input id="profile-edit-avatar" type="file" style="display:none" name="profile[avatar]">
            <div class="input-group">
              <input readonly type="text" id="photoCover0" class="form-control" placeholder="選択されていません" onClick="$('#profile-edit-avatar').click();">
              <span class="input-group-btn">
                <button type="button" class="btn btn-primary" onClick="$('#profile-edit-avatar').click();">ファイルを選択</button>
              </span>
            </div>
            <!-- nickname -->
            <%= f.label :nickname %><br>
            <span>※サイト上で表示される名前です</span>
            <%= f.text_field :nickname, autofocus: true, placeholder: "日本語や漢字も使用できます" %>
            <!-- age -->
            <%= f.label :age %>
            <%= f.text_field :age %>
            <!-- job -->
            <%= f.label :job %>
            <%= f.text_field :job %>
            <!-- introduce -->
            <%= f.label :introduce %>
            <%= f.text_area :introduce, rows: "8", cols: "50", placeholder: "自己紹介やよく使うアプリを書いてください" %>
            <!-- 送信ボタン -->
            <%= f.submit '変更する', class: 'btn btn-info btn-lg btn-block active', data: {confirm: "プロフィールを変更してもよろしいですか？", disable_with: "送信中..."} %>
          <% end %>
          <%= link_to 'プロフィールページに戻る', profile_path(@profile), class: 'btn btn-info btn-lg btn-block active' %>
          <%= link_to 'ユーザーネームやメールアドレスの変更はこちら', edit_user_registration_path, class: 'btn btn-success btn-lg btn-block active' %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ファイルを選択したらファイル名が表示される -->
<script>
 $('input[id=profile-edit-avatar]').change(function() {
  $('#photoCover0').val($(this).val().replace("C:\\fakepath\\", ""));
});
</script>
