<div class="container">
  <div class="col-md-12">
    <div class="login-container">
      <div class="form-box">
        <%= form_for(@profile) do |f| %>
        <%= f.label :age %><br>
        <%= f.text_field :age %><br>
        <%= f.label :job %><br>
        <%= f.text_field :job %><br>
        <%= f.label :comment %><br>
        <%= f.text_area :comment, rows: "8", cols: "50", placeholder: "自己紹介やよく使うアプリを書いてください" %><br>
        <%= f.submit "送信する" %>
        <% end %>
        <%= link_to 'トップページに戻る', root_path, class: 'list-group-item' %>
      </div>
    </div>
  </div>
</div>
