<div class="container">
  <div class="col-md-12">
    <div class="display-container">
      <div class="form-box">
        <div><h1>プロフィール編集ページ</h1></div>
        <%= form_for(@profile) do |f| %>
        <%= f.label :age %><br>
        <%= f.text_field :age %><br>
        <%= f.label :job %><br>
        <%= f.text_field :job %><br>
        <%= f.label :introduce %><br>
        <%= f.text_area :introduce, rows: "8", cols: "50", placeholder: "自己紹介やよく使うアプリを書いてください" %><br>
        <%= f.submit '送信する', class: 'btn btn-info btn-lg btn-block active', data: {confirm: "変更内容を送信してもよろしいですか？"} %>
        <% end %>
        <%= link_to '戻る', profile_path(@profile), class: 'btn btn-info btn-lg btn-block active' %>
        <%= link_to 'ニックネームやメールアドレスの変更はこちら', edit_user_registration_path, class: 'btn btn-success btn-lg btn-block active' %>
      </div>
    </div>
  </div>
</div>
