<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="display-container profiles-show-container">
        <h2><%= @profile.nickname %>さんのプロフィール</h2>
        <div class="avatar">
          <% if @profile.avatar.present? %>
            <%= image_tag @profile.avatar %>
          <% else %>
            <%= image_tag('no_image.png') %>
          <% end %>
        </div>
        <label>Nickname</label>
        <div class="list-group-item"><%= current_user.profile.nickname %>さん</div>
        <label>Age</label>
        <div class="list-group-item"><%= @profile.age %></div>
        <label>Job</label>
        <div class="list-group-item"><%= @profile.job %></div>
        <label>Introduce</label>
        <div class="list-group-item"><%= @profile.introduce %></div>
        <%= link_to 'プロフィールを編集する', edit_profile_path(@profile), class: 'btn btn-info btn-lg btn-block active' %>
        <%= link_to 'トップページに戻る', root_path, class: 'btn btn-info btn-lg btn-block active' %>
      </div>
    </div>
  </div>
</div>
