<div class="col-md-12">
  <div class="display-container">
    <div class="avatar">
      <p><h3>あなた</h3></p>
    </div>
    <label>Nickname</label>
    <div class="list-group-item"><%= current_user.nickname %>さん</div>
    <label>Age</label>
    <div class="list-group-item"><%= @profile.age %></div>
    <label>Job</label>
    <div class="list-group-item"><%= @profile.job %></div>
    <label>Comment</label>
    <div class="list-group-item"><%= @profile.comment %></div>
    <%= link_to 'プロフィールを編集する', edit_profile_path(@profile), class: 'btn btn-info btn-lg btn-block active' %>
    <%= link_to 'トップページに戻る', root_path, class: 'btn btn-info btn-lg btn-block active' %>
  </div>
</div>
