<!-- ▼ ジャンボトロン -->
<div class="jumbotron jumbotron-registrations-new-main">
  <div class="container">
    <div class="row">
      <!-- サイトのコンセプトを説明 -->
      <div class="col-md-6 col-xs-12">
        <div class="jumbotron-explain">
          <p>「みんなどんなアプリを使ってるんだろう?」</p>
          <p>そんな思いからこのWEBサービスは生まれました</p>
        </div>
      </div>
      <!-- ▼ 会員登録のフォーム -->
      <div class="col-md-6 col-xs-12">
        <div class="registrations-new-form">
          <h3>Registration</h3>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="form-box">
            <%= f.label :username %>
            <span>※ログイン時に使用できます</span>
            <%= f.text_field :username, placeholder: 'ユーザーネーム', autofocus: true, placeholder: "(半角英数字・記号(_)・4~20文字)", pattern: "[a-zA-Z0-9_]{4,20}", required: true %>
            <%= f.label 'e-mail' %>
            <%= f.email_field :email, placeholder: 'メールアドレス', required: true %>
            <%= f.label 'Password' %>
            <%= f.password_field :password, placeholder: '6文字以上', autocomplete: "off", required: true %>
            <%= f.label 'Password (confirmation)' %>
            <%= f.password_field :password_confirmation, placeholder: "確認のためもう一度入力してください", autocomplete: "off", required: true %>
            <%= f.submit "会員登録する", class: "btn btn-info btn-lg active" %>
            <%= link_to 'ログインページに戻る', new_user_session_path, class: "btn btn-info btn-lg active" %>
            <% end %>
          </div>
        </div>
      </div>
      <!-- ▲ 会員登録のフォーム -->
    </div>
  </div>
</div>
<!-- ▲ ジャンボトロン -->


<div class="registrations-new-heading-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <h1>どんなアプリを使っているか、すぐにわかる</h1>
      </div>
    </div>
  </div>
</div>


<div class="registrations-new-explain-1">
  <div class="container">
    <div class="row">
      <div class="col-md-6 registrations-new-sentences-1">
        <p>ユーザーごとに画面の切り替えができるので</p>
        <p>他のユーザーが使っているアプリが</p>
        <p>すぐにわかるようになっています</p>
      </div>
      <div class="col-md-6">
        <%= image_tag('main-display-sample.png', class: 'img-responsive') %>
      </div>
    </div>
  </div>
</div>


<div class="registrations-new-heading-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>3つの特徴</h1>
      </div>
    </div>
  </div>
</div>


<div class="registrations-new-explain-2">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag('screenshot-sample.png', class: 'img-responsive') %>
        <h3>スクリーンショットを登録</h3>
        <p>MacのLaunchpadの画像を登録するだけなので簡単に投稿することができます</p>
      </div>
      <div class="col-md-4">
        <%= image_tag('reviews-sample.png', class: 'img-responsive') %>
        <h3>好きなアプリをレビュー</h3>
        <p>自分が好きなアプリ、みんなは使ってなさそうだけど実は便利なアプリ、自分だけの特殊な設定などを登録できます</p>
      </div>
      <div class="col-md-4">
        <%= image_tag('review-comments-sample.png', class: 'img-responsive') %>
        <h3>気になったレビューにコメント</h3>
        <p>「もっと内容を知りたい」と思ったレビューにコメントをすることができます </p>
      </div>
    </div>
  </div>
</div>
