<!-- 会員登録の情報に不備がある場合に表示するフラッシュメッセージ -->
<%= devise_error_messages! %>

<!-- ▼ ジャンボトロン -->
<div class="jumbotron jumbotron-registrations-new-main">
  <div class="container">
    <div class="row">
      <!-- サイトのコンセプトを説明 -->
      <div class="col-md-6 col-xs-12">
        <div class="jumbotron-registrations-new-main-explain">
          <p>「みんなどんなアプリを使ってるんだろう?」</p>
          <p>そんな思いからこのWEBサービスは生まれました</p>
        </div>
      </div>
      <!-- ▼ 会員登録のフォーム -->
      <div class="col-md-6 col-xs-12">
        <div class="registrations-new-form">
          <h3>Registration</h3>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="form-box">
            <%= f.label :username %>
            <span>※ログイン時に使用できます</span>
            <%= f.text_field :username, placeholder: 'ユーザーネーム', autofocus: true, placeholder: "(半角英数字・記号(_)・4~20文字)", pattern: "[a-zA-Z0-9_]{4,20}", required: true %>
            <%= f.label 'e-mail' %>
            <%= f.email_field :email, placeholder: 'メールアドレス', required: true %>
            <%= f.label 'Password' %>
            <%= f.password_field :password, placeholder: '6文字以上', autocomplete: "off", required: true %>
            <%= f.label 'Password (confirmation)' %>
            <%= f.password_field :password_confirmation, placeholder: "確認のためもう一度入力してください", autocomplete: "off", required: true %>
            <%= f.submit "会員登録する", class: "btn btn-info btn-lg active", data: { disable_with: "送信中..." }  %>
            <%= link_to 'ログインはこちら', new_user_session_path, class: "btn btn-info btn-lg active" %>
            <% end %>
          </div>
        </div>
      </div>
      <!-- ▲ 会員登録のフォーム -->
    </div>
  </div>
</div>
<!-- ▲ ジャンボトロン -->


<div class="registrations-new-heading-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <h1>どんなアプリを使っているか、すぐにわかる</h1>
      </div>
    </div>
  </div>
</div>


<div class="registrations-new-explain-1">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-12 registrations-new-sentences-1">
        <p>ユーザーごとに画面の切り替えができるので</p>
        <p>他のユーザーが使っているアプリが</p>
        <p>すぐにわかるようになっています</p>
      </div>
      <div class="col-md-6 col-xs-12 main-display-sample">
        <a data-toggle="modal" data-target=".bs-example-modal-lg">
          <%= image_tag('main-display-sample.png', class: 'img-responsive', id: 'registrations-new-img-1') %>
        </a>
      </div>
    </div>
  </div>
</div>


<div class="registrations-new-heading-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <h1>3つの特徴</h1>
      </div>
    </div>
  </div>
</div>


<div class="registrations-new-explain-2">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-12 screenshot-explain">
        <a data-toggle="modal" data-target=".bs-example-modal-lg">
          <%= image_tag('screenshot-sample.png', class: 'img-responsive', id: 'registrations-new-img-2') %>
        </a>
        <h3>アプリの一覧が見やすい</h3>
        <p>Macの機能にある「Launchpad」のスクリーンショットの画像を見ることができるので、ユーザーがどんなアプリを使っているか見やすい</p>
      </div>
      <div class="col-md-4 col-xs-12 reviews-explain">
        <a data-toggle="modal" data-target=".bs-example-modal-lg">
          <%= image_tag('reviews-sample.png', class: 'img-responsive', id: 'registrations-new-img-3') %>
        </a>
        <h3>好きなアプリをレビュー</h3>
        <p>自分が特に好きなアプリ、他の人は使ってなさそうだけど実は便利なアプリ、自分だけのオリジナルな設定、などをレビューとして投稿できます</p>
      </div>
      <div class="col-md-4 col-xs-12 review-comments-explain">
        <a data-toggle="modal" data-target=".bs-example-modal-lg">
          <%= image_tag('review-comments-sample.png', class: 'img-responsive', id: 'registrations-new-img-4') %>
        </a>
        <h3>気に入ったレビューにコメント</h3>
        <p>「このレビューが役に立った」「もっと設定や内容を知りたい」と思ったレビューにコメントをすることができます </p>
      </div>
    </div>
  </div>
</div>


<!-- ▼モーダル -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">MyToolsについて</h2>
      </div>
      <div class="modal-body">
        <!-- ▼カルーセル -->
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

          <!-- スライド -->
          <div class="carousel-inner" role="listbox">
            <!-- 1枚目 -->
            <div class="registrations-new-modal-slide-1 item active">
              <%= image_tag('main-display-sample.png', class: 'img-responsive registrations-new-modal-img') %>
              <div class="registrations-new-modal-slide-heading">
                <h2>どんなアプリを使っているか、すぐにわかる</h2>
              </div>
            </div>
            <!-- 2枚目 -->
            <div class="registrations-new-modal-slide-2 item">
              <%= image_tag('screenshot-sample.png', class: 'img-responsive registrations-new-modal-img' ) %>
              <div class="registrations-new-modal-slide-heading">
                <h2>アプリの一覧が見やすい</h2>
              </div>
            </div>
            <!-- 3枚目 -->
            <div class="registrations-new-modal-slide-3 item">
              <%= image_tag('reviews-sample.png', class: 'img-responsive registrations-new-modal-img') %>
              <div class="registrations-new-modal-slide-heading">
                <h2>好きなアプリをレビュー</h2>
              </div>
            </div>
            <!-- 4枚目 -->
            <div class="registrations-new-modal-slide-4 item">
              <%= image_tag('review-comments-sample.png', class: 'img-responsive registrations-new-modal-img') %>
              <div class="registrations-new-modal-slide-heading">
                <h2>気に入ったレビューにコメント</h2>
              </div>
            </div>
          </div>

          <!-- 画像の両端に表示される矢印 -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <!-- ▲カルーセル -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>
<!-- ▲モーダル -->


<!-- ▼snsへのリンク -->
<div class="registrations-new-heading-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <h1>SNSリンク</h1>
      </div>
    </div>
  </div>
</div>

<div class="registrations-new-sns-links">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-4">
        <div class="registrations-new-sns-link">
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://my-tools.herokuapp.com/users/sign_up" data-size="large" onclick="window.open(this.href, 'PCwindow', 'top=200, left=450, width=550, height=350, menubar=no, toolbar=no, scrollbars=yes'); return false;">
            <i class="fa fa-twitter fa-large fa-white" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-xs-4">
        <div class="registrations-new-sns-link">
          <a class="fb-xfbml-parse-ignore" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmy-tools.herokuapp.com%2Fusers%2Fsign_up&amp;src=sdkpreparse" onclick="window.open(this.href, 'PCwindow', 'top=200, left=450, width=550, height=350, menubar=no, toolbar=no, scrollbars=yes'); return false;">
            <i class="fa fa-facebook fa-large fa-white" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-xs-4">
        <div class="registrations-new-sns-link">
          <a href="http://getpocket.com/edit?url=https://my-tools.herokuapp.com/users/sign_up" onclick="window.open(this.href, 'PCwindow', 'top=200, left=450, width=550, height=350, menubar=no, toolbar=no, scrollbars=yes'); return false;">
            <i class="fa fa-get-pocket fa-large fa-white" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ▲snsへのリンク -->

<!-- pocketのシェアボタン用 -->
<!-- [head]内や、[body]の終了直前などに配置 -->
<script type="text/javascript">
  ! function(d, i) {
    if (!d.getElementById(i)) {
      var j = d.createElement("script");
      j.id = i;
      j.src = "https://widgets.getpocket.com/v1/j/btn.js?v=1";
      var w = d.getElementById(i);
      d.body.appendChild(j);
    }
  }(document, "pocket-btn-js");
</script>
