<div class="container comments-index-container">

  <div class="row">
    <div class="col-md-12">
      <h2><%= current_user.profile.nickname %>さんがコメントしたレビュー</h2>
    </div>
  </div>

  <div class="row">
    <% @uniq_comments.each do |comment| %>
      <div class="col-md-6">
        <div class="comments-index-card">
          <div class="comments-index-card-title">
            <%= link_to user_path(comment.review.user.id) do %>
              <% if comment.review.user.profile.avatar.present? %>
                <%= image_tag comment.review.user.profile.avatar %>
              <% else %>
                <%= image_tag('no_image.png') %>
              <% end %>
              <%= comment.review.user.profile.nickname %>さん
            <% end %>
            の
            <%= link_to tool_path(comment.review.tool.id) do %>
              <%= comment.review.tool.name %>
            <% end %>
            のレビュー
          </div>
          <div class="comments-index-card-content">
            <p class="short-review"><%= comment.review.review %></p>
            <div class="clearfix">
              <%= link_to '詳細', review_path(comment.review), class: 'btn btn-warning active reviews-index-card-reviews-show-link' %>
              <!-- likeボタン -->
              <div class="cooments-index-like-button" id="cooments-index-like-button<%= comment.review.id %>">
                <%= render partial: "likes/like", locals: { like: comment.review.likes.find_by(user_id: current_user.id), review: comment.review } %>
              </div>
              <p class="comments-index-card-comment-number"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span><b>Comment:<%= comment.review.comments.count %></b></p>
              <div class="comments-index-rating-star-container">
                <p class="rating-star"><span class="rating-star-inner"><%= comment.review.rate %></span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
