<!-- 画面右側 -->
<!-- プロフィール,スクリーンショット,自己紹介,アプリとレビュー,の表示 -->
<div class="col-md-9">
  <!-- プロフィールの表示 -->
  <div class="row">
    <div class="col-md-12">
      <div class="user-profile-list">
        <p class="user-profile">Nickname：<%= user.profile.nickname %>さん</p>
        <p class="user-profile">Age：<%= user.profile.age %></p>
        <p class="user-profile">Job：<%= user.profile.job %></p>
        <p class="user-profile">Photos：<%= user.photos.length %>枚</p>
        <p class="user-profile">Reviews：<%= user.reviews.length %></p>
      </div>
    </div>
  </div>
  <!-- プロフィールが登録されていない場合 -->
  <% if user.profile.nickname == nil || user.profile.age == nil || user.profile.job == nil %>
    <div class="panel panel-default">
      <div class="panel-body">
        <p>プロフィールが登録されていません</p>
          <!-- ユーザー自身のページを見ている場合は登録を促すボタンを表示 -->
          <% if user.id == current_user.id %>
            <%= link_to '登録はこちらから', edit_profile_path(current_user.profile), class: "btn btn-primary btn-lg active" %>
          <% end %>
      </div>
    </div>
  <% end %>
  <!-- ▼スクリーンショットの表示コンテンツ全体 -->
  <div class="row">
    <div class="col-md-12">
      <!-- スクリーンショットが登録されていない場合 -->
      <% if photos.blank? %>
        <div class="panel panel-default">
          <div class="panel-body">
            <p>スクリーンショットが登録されていません</p>
              <!-- ユーザー自身のページを見ている場合は登録を促すボタンを表示 -->
              <% if user.id == current_user.id %>
                <%= link_to '登録はこちらから', new_user_photo_path(current_user), class: "btn btn-primary btn-lg active" %>
              <% end %>
          </div>
        </div>
        <!-- ▼スクリーンショットが登録されている場合 -->
        <% else %>
        <!-- carouselを使えるように指定 -->
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- スクリーンショットの下部にある丸いボタン -->
          <ol class="carousel-indicators">
            <% photos.each_with_index do |photo, i| %>
              <li data-target="#carousel-example-generic" data-slide-to="<%= i %>" class=<%= "active" if i == 0 %>></li>
            <% end %>
          </ol>
          <!-- ▼スクリーンショット -->
          <div class="carousel-inner">
            <% photos.each_with_index do |photo, i| %>
              <div class="item <%= "active" if i == 0 %>">
                <a data-toggle="modal" data-target=".bs-example-modal-lg">
                  <img src="<%= photo.image %>" class="img-responsive users-data-photo">
                </a>
              </div>
            <% end %>
            <!-- 左右に移動するための矢印 -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
            <!-- ▼モーダル-->
            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <% photos.each_with_index do |photo, i| %>
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h2 class="modal-title" id="myModalLabel"><%= i + 1 %>/<%= photos.count %>枚目&nbsp;&nbsp;&nbsp;&nbsp;<%= l photo.created_at, format: :short %>に投稿</h2>
                    </div>
                    <div class="modal-body">
                      <img src="<%= photo.image %>" class="img-responsive users-data-photo-modal">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" data-dismiss="modal">閉じる</button>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
            <!-- ▲モーダル -->
          </div>
          <!-- ▲スクリーンショット -->
        </div>
      <% end %>
    </div>
  </div>
  <!-- ▲スクリーンショットの表示コンテンツ全体 -->
  <!-- 自己紹介の表示 -->
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <% if introduce.blank? %>
            <p>自己紹介が登録されていません</p>
              <% if user.id == current_user.id %>
                <%= link_to '登録はこちらから', edit_profile_path(current_user.profile), class: "btn btn-primary btn-lg active" %>
              <% end %>
          <% else %>
            <p><%= introduce %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- アプリとレビューの表示 -->
  <% if reviews.blank? %>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <p>アプリとレビューが登録されていません</p>
              <% if user.id == current_user.id %>
                <%= link_to '登録はこちらから', new_tool_path, class: "btn btn-primary btn-lg active" %>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="row">
      <% reviews.each do |review| %>
        <div class="col-md-6">
          <div class="user-data-card">
            <!-- toolの名前 -->
            <h2 class="user-data-card-title">
              <a href="/tools/<%= review.tool_id %>"><%= review.tool.name %></a>
            </h2>
            <div class="user-data-card-content">
              <p class="short-review user-data-card-short-review"><%= review.review %></p>
              <div class="clearfix">
                <%= link_to '詳細を見る', review_path(review), class: "btn btn-warning user-data-card-review-link" %>
                <!-- likeボタン -->
                <div class="review-like-button" id="user-reviews-like-button<%= review.id %>">
                  <%= render partial: "likes/like", locals: { like: review.likes.find_by(user_id: current_user.id), review: review } %>
                </div>
                <p class="user-data-card-review-comment-number"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span><b>Comment:<%= review.comments.count %></b></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
