<div class="container">
  <div class="row">
    <div class="col-md-3">
    <p class="lead">User一覧</p>
    <div class="list-group">
        <%= render @users %>
    </div>
    </div>
    <div class="col-md-9">
      <div class="row" style="margin-bottom:30px;">
      <div>
        <p class="lead-profile">Nickname：<%= current_user.nickname %>さん</p>
        <p class="lead-profile">Age：<%= current_user.profile.age %>歳</p>
        <p class="lead-profile">Job：<%= current_user.profile.job %></p>
        <p class="lead-profile">投稿枚数：<%= current_user.photos.length %>枚</p>
      </div>
        <div class="col-md-12">

          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
            <% @photos.each_with_index do |photo, i| %>
              <li data-target="#carousel-example-generic" data-slide-to=i class=<%= "active" if i == 0 %>></li>
              <% end %>
            </ol>
            <div class="carousel-inner">
            <% @photos.each_with_index do |photo, i| %>
              <div class="item <%= "active" if i == 0 %>">
                <a data-toggle="modal" data-target=".bs-example-modal-lg">
                <img src="<%= photo.image %>" class="img-responsive">
                </a>
              </div>
              <!-- Modal -->
              <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h2 class="modal-title" id="myModalLabel" style="text-align: center"><%= i + 1 %>枚目のスクリーンショット</h2>
                    </div>
                    <div class="modal-body">
                      <img src="<%= photo.image %>" class="img-responsive">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" data-dismiss="modal" style="width: 100px">閉じる</button>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <p><%= @comment %></p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-sm-4 col-lg-4 col-md-4">
          <div class="thumbnail">
            <img src="http://placehold.it/320x120" alt="">
            <div class="caption">
              <h3>Sublime Text</h3>
              <p>とても使いやすいエディターです！</p>
              <p>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-4 col-md-4">
          <div class="thumbnail">
            <img src="http://placehold.it/320x120" alt="">
            <div class="caption">
              <h3>Sublime Text</h3>
              <p>とても使いやすいエディターです！</p>
              <p>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-4 col-md-4">
          <div class="thumbnail">
            <img src="http://placehold.it/320x120" alt="">
            <div class="caption">
              <h3>Sublime Text</h3>
              <p>とても使いやすいエディターです！</p>
              <p>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
