<div class="sessions-new-filter"></div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="sessions-new-display-container">
        <h1 class="sessions-new-title"> My Tools </h1>
        <!-- サンプル画像(モーダルできる) -->
        <a data-toggle="modal" data-target=".bs-example-modal-lg">
          <%= image_tag('screenshot-sample.png', class: "img-responsive") %>
        </a>

        <!-- モーダル -->
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="myModalLabel">サンプル画像</h2>
              </div>
              <div class="modal-body">
                <%= image_tag('screenshot-sample.png', class: "img-responsive") %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">閉じる</button>
              </div>
            </div>
          </div>
        </div>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-box sessions-new-form">
          <%= f.text_field :login, placeholder: 'メールアドレス もしくは ユーザーネーム', autofocus: true%>
          <%= f.password_field :password, placeholder: 'パスワード', autocomplete: "off" %>
          <%= f.submit 'ログイン', class: 'btn btn-info btn-lg active' %>
          <%= link_to '会員登録はこちらから', new_user_registration_path, class: 'btn btn-info btn-lg active' %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
