 <div class="container">
  <div class="col-md-6">
  <div class="login-container">
      <h2><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> My Tools の使い方 <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></h2>
      <br>
      <ul>
      <li>自分が使っているアプリを投稿する</li>
      <li>他の人が使っているアプリを閲覧できる</li>
      </ul>
      <br>
      <%= image_tag 'top_image.png', class: 'img-responsive'%>
  </div>
  </div>
  <div class="col-md-6">
  <div class="login-container">
    <div class="avatar">
        <p class="sentense"><h3>あなた</h3></p>
    </div>
    <div id="output"></div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-box">
        <%= f.email_field :email, placeholder: 'メールアドレス', autofocus: true %>
        <%= f.password_field :password, placeholder: 'パスワード', autocomplete: "off", class: 'login-password'%>
        <button class="btn btn-info btn-block login" type="submit">ログイン</button>
        <%= link_to '会員登録はこちら', new_user_registration_path, class: 'btn btn-info btn-block login active' %>
      <% end %>
    </div>
  </div>
  </div>
</div>
