<!-- ▼facebookのいいねボタン・シェアボタンのための設定 -->
<div id="fb-root"></div>

<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.7";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<!-- ▲facebookのいいねボタン・シェアボタンのための設定 -->

<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="sessions-new-display-container">
        <h1 class="sessions-new-title"> My Tools </h1>
        <!-- サンプル画像(モーダルできる) -->
        <a data-toggle="modal" data-target=".bs-example-modal-lg">
          <%= image_tag('screenshot-sample.png', class: "img-responsive") %>
        </a>

        <!-- モーダル -->
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="myModalLabel">Sample Image</h2>
              </div>
              <div class="modal-body">
                <%= image_tag('screenshot-sample.png', class: "img-responsive") %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">閉じる</button>
              </div>
            </div>
          </div>
        </div>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-box sessions-new-form">
          <%= f.text_field :login, placeholder: 'メールアドレス もしくは ユーザーネーム', autofocus: true%>
          <%= f.password_field :password, placeholder: 'パスワード', autocomplete: "off" %>
          <%= f.submit 'ログイン', class: 'btn btn-info btn-lg active' %>
          <%= link_to '会員登録はこちら', new_user_registration_path, class: 'btn btn-info btn-lg active' %>
          <% end %>
        </div>

        <!-- ▼シェアボタン -->
        <div class="share-buttons-container">
          <div class="row">

            <!-- Twitterのシェアボタン -->
            <div class="col-md-4 col-xs-4 twitter-share-btn">

              <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://my-tools.herokuapp.com/users/sign_up" data-size="large">Tweet</a>

              <script>
                ! function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0],
                  p = /^http:/.test(d.location) ? 'http' : 'https';
                  if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + '://platform.twitter.com/widgets.js';
                    fjs.parentNode.insertBefore(js, fjs);
                  }
                }(document, 'script', 'twitter-wjs');
              </script>

            </div>

            <!-- facebookのシェアボタン -->
            <div class="col-md-4 col-xs-4 fb-share-btn">

              <div class="fb-share-button" data-href="https://my-tools.herokuapp.com/users/sign_up" data-layout="button_count" data-size="large" data-mobile-iframe="true">
                <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmy-tools.herokuapp.com%2Fusers%2Fsign_up&amp;src=sdkpreparse">シェア</a>
              </div>

            </div>

            <!-- facebookのいいねボタン -->
            <div class="col-md-4 col-xs-4 fb-like-btn">

              <div class="fb-like" data-href="https://my-tools.herokuapp.com/users/sign_up" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>

            </div>

          </div>
        </div>
        <!-- ▲シェアボタン -->

      </div>
    </div>
  </div>
</div>
