<div class="container">
  <div class="row">
    <div class="col-md-12 photo">
      <h2><%= current_user.nickname %>さんが投稿したスクリーンショット</h2>
      <%= link_to '新しいスクリーンショットを投稿', new_user_photo_path(current_user), class: 'btn btn-info btn-lg active' %>
    </div>
  </div>
  <div class="row">
    <% @photos.each do |photo| %>
    <div class="col-md-4">
      <div class="photo">
        <h3>登録日:<%= l photo.created_at, format: :short %></h3>
      </div>
      <div>
        <a data-toggle="modal" data-target=".bs-example-modal-lg">
          <img src="<%= photo.image %>" style="width: 100%;">
        </a>
      </div>
      <div>
        <%= link_to '削除する', "/users/#{current_user.id}/photos/#{photo.id}", method: :delete, data: {confirm: "本当に削除しますか？"}, class: 'btn btn-primary btn-lg active' %>
      </div>
    </div>
    <% end %>
    <!-- モーダル -->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <% @photos.each_with_index do |photo, i| %>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class="modal-title" id="myModalLabel"><%= i + 1 %>/<%= @photos.length %>枚目&nbsp;&nbsp;&nbsp;&nbsp;<%= l photo.created_at, format: :short %>に登録</h2>
          </div>
          <div class="modal-body">
            <img src="<%= photo.image %>" class="img-responsive">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" style="width: 100px">閉じる</button>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
