<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="display-container">
        <div class="form-box">

          <h1><%= @review.tool.name %>のレビュー</h1>

          <%= form_for @review do |f| %>
          <div class="field">
            <%= f.text_area :review, rows: "8", cols: "50" %><br>
          </div>
          <div class="actions">
            <%= f.submit '変更する', class: 'btn btn-info btn-lg btn-block active', data: {confirm: "変更内容を送信してもよろしいですか？"} %>
          </div>
          <%= link_to '自分のレビューの一覧に戻る', reviews_path, class: 'btn btn-info btn-lg btn-block active' %>
          <%= link_to 'レビューを削除する', "/reviews/#{@review.id}", method: :delete, class: 'btn btn-danger btn-lg btn-block active', data: {confirm: "レビューを削除してもよろしいですか？"}  %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
