<div class="container reviews-index-container">
  <div class="row">
    <div class="col-md-12">
      <h2><%= current_user.profile.nickname %>さんが登録したアプリとレビュー <%= link_to 'サイトに登録されたアプリ一覧', tools_path, class: 'btn btn-info btn-lg active' %></h2>
      <%= link_to '新しいアプリとレビューを登録', new_tool_path, class: 'btn btn-info btn-lg active' %>
    </div>
  </div>
  <div class="row">
    <% @reviews.each do |review| %>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <a href="/tools/<%= review.tool_id %>"><h3><%= review.tool.name %></h3></a>
        </div>
        <div class="panel-body">
          <p class="short-review"><%= review.review %></p>
          <p><%= link_to 'レビューを編集する', edit_review_path(review) %></p>
          <p>コメント:<%= review.comments.count %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
