<div class="container">

  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <div class="reviews-show-card">
        <div class="reviews-show-card-title">
          <%= link_to user_path(@review.user.id) do %>
            <% if @review.user.profile.avatar.present? %>
              <%= image_tag @review.user.profile.avatar %>
            <% else %>
              <%= image_tag('no_image.png') %>
            <% end %>
            <%= @review.user.profile.nickname %>さん
          <% end %>
          の <%= link_to "#{@review.tool.name}" , tool_path(@review.tool.id) %> のレビュー
        </div>
        <div class="reviews-show-card-content">
          <p class="reviews-show-review"><%= @review.review %></p>
          <div class="clearfix">
            <!-- likeボタン -->
            <div id="review-detail-like-button">
              <%= render partial: "likes/like", locals: { like: @review.likes.find_by(user_id: current_user.id), review: @review } %>
            </div>
            <p class="reviews-show-card-comment-number"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span><b>Comment:<%= @review.comments.count %></b></p>
            <div class="reviews-show-rating-star-container">
              <p class="rating-star"><span class="rating-star-inner"><%= @review.rate %></span></p>
            </div>
            <% if @review.user.id == current_user.id %>
             <%= link_to '編集・削除', edit_review_path(@review), class: 'btn btn-primary active reviews-show-reviews-edit-link' %>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <!-- コメント総数の表示 -->
      <div id="comments-number">
        コメント(<%= @review.comments.count %>)
      </div>

      <!-- コメントの表示 -->
      <div id="comments">
        <%= render partial: 'comments/comment', locals: { comments: @posted_comments } %>
      </div>
      <div class="review-comment">
        <p>コメントを入力してください</p>
        <%= form_for [@review, @comment], remote: true do |f| %>
        <%= f.text_area :comment, id: "comment_field" %><br>
        <%= f.submit 'コメントを送信', class: "btn btn-info btn-block btn-lg active" %>
        <% end %>
      </div>
    </div>
  </div>

</div>
